html {
  color-scheme: light dark;
  color: light-dark(black, white);
  background-color: light-dark(white, black);
}

body {
  display: grid;
  padding: calc(0.125rlh + 5vmin) calc(0.125rlh + 3vmin);
  margin: 0;
  gap: 2rlh;
}

body > * {
  display: grid;
  gap: 1rlh;
}

form {
  display: grid;
  gap: 1rlh;
}

label {
  display: grid;
  gap: 0.25rlh;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rlh, max-content));
  align-items: start;
  gap: 1rlh;
  border: none;
  border-top: 1px solid;
  padding-top: 0.25rlh;
}

legend {
  font-weight: bold;
  padding: 0.25rlh 0.25rlh 0.25rlh 0;
  font-size: 123.6%;
}

form button {
  justify-self: start;
  padding: 0.25rlh;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background-color: light-dark(black, #333);
  border-radius: 0.5rlh;
  border: 1px solid black;
}

.key-checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1rlh);
  gap: 0.25rlh;
  margin-top: 0.25rlh;
}

pre {
  white-space: normal;
}

code {
  font-size: 75%;
  line-height: 0.75rlh;
}

cite {
  font-style: italic;
}

#visualizer {
  gap: 0.25rlh;
  border: 1px solid black;
  /* position: sticky;
  top: 1rlh;
  z-index: 10;
  box-shadow: 0 0 1rlh black; */
}

#visualizer canvas {
  height: 7rlh;
  width: 100%;
  display: block;
}

#keyboard {
}

.keys {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--total-columns) * 1rlh), 1fr));
  gap: 2rlh 0.5rlh;
}

.keys,
.keys * {
  -webkit-user-select: none;
  user-select: none;
}

.octave {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  pointer-events: none;
}

.key {
  grid-column: var(--column) / span 2;
  grid-row: var(--row);
  pointer-events: none;
  position: relative;
}

.top {
  z-index: 1;
}
.bottom {
  z-index: 0;
}

.key button {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  border: none;
  display: flex;
  justify-content: center;
  align-items: end;
  line-height: 2;
  touch-action: none;
  pointer-events: all;
  font-weight: 300;
  padding-bottom: 0.25rlh;
  box-shadow: 0 0 0.25rlh #6669, 0 0 0.5rlh #6667, 0 0 1rlh #6665;
}

.white button {
  background-color: white;
  color: black;
}

.black button {
  background-color: black;
  color: white;
}

/* .key:first-child button {
  border-top-left-radius: 0.25rlh;
  border-bottom-left-radius: 0.25rlh;
}

.key:last-child button {
  border-top-right-radius: 0.25rlh;
  border-bottom-right-radius: 0.25rlh;
}

.key.bottom + .key.bottom + .key.top button,
.key.bottom:first-child + .key.top button {
  border-top-left-radius: 0.25rlh;
}

.key.top + .key.top + .key.bottom button,
.key.top:first-child + .key.bottom button {
  border-bottom-left-radius: 0.25rlh;
} */

.key button:hover {
  filter: invert(5.6%);
}

.key button.active {
  filter: invert(33.333%);
}

.key button * {
  pointer-events: none;
}

.key-0 {
}
.key-1 {
}
.key-2 {
}
.key-3 {
}
.key-4 {
}
.key-5 {
}
.key-6 {
}
.key-7 {
}

h1 {
  font-size: 195%;
  line-height: 2rlh;
  font-weight: 900;
}

h2 {
  font-size: 162%;
  line-height: 1.5rlh;
  font-weight: 600;
}

p {
  max-width: 33rlh;
}
