html {
  color-scheme: light dark;
  color: light-dark(black, white);
  background-color: light-dark(white, black);
}

body {
  display: grid;
  padding: calc(0.125rlh + 5vmin) calc(0.125rlh + 3vmin);
  margin: 0;
  gap: 2rlh;
}

body > * {
  display: grid;
  gap: 1rlh;
}

form {
  display: grid;
  gap: 1rlh;
}

label {
  display: grid;
  gap: 0.25rlh;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rlh, max-content));
  align-items: start;
  gap: 1rlh;
  border: none;
  border-top: 1px solid;
  padding-top: 0.25rlh;
}

legend {
  font-weight: bold;
  padding: 0.25rlh 0.25rlh 0.25rlh 0;
  font-size: 123.6%;
}

form button {
  justify-self: start;
  padding: 0.25rlh;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background-color: light-dark(black, #333);
  border-radius: 0.5rlh;
  border: 1px solid black;
}

.key-checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1rlh);
  gap: 0.25rlh;
  margin-top: 0.25rlh;
}

pre {
  white-space: normal;
}

code {
  font-size: 75%;
  line-height: 0.75rlh;
}

cite {
  font-style: italic;
}

#visualizer {
  gap: 0.25rlh;
  border: 1px solid;
  /* position: sticky;
  top: 1rlh;
  z-index: 10;
  box-shadow: 0 0 1rlh black; */
}

#visualizer canvas {
  height: 7rlh;
  width: 100%;
  display: block;
}

#keyboard {
}

.keys {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 2rlh 0;
}

.keys,
.keys * {
  -webkit-user-select: none;
  user-select: none;
}

.key {
  --key-width: calc(2rlh + 2vmin);
  --key-height: calc(var(--key-width) * 3);
  width: var(--key-width);
  pointer-events: none;
}

.top:not(.top + .top) {
  width: 0;
  display: grid;
  justify-content: center;
}

.top + .top {
  padding-left: calc(var(--key-width) * 0.5);
}

.key button {
  cursor: pointer;
  width: var(--key-width);
  height: var(--key-height);
  border: 0.5px solid light-dark(black, #999);
  outline: 0.5px solid light-dark(black, #999);
  background-color: light-dark(white, #222);
  display: flex;
  justify-content: center;
  align-items: end;
  line-height: 2;
  touch-action: none;
  pointer-events: all;
  font-weight: 200;
  padding-bottom: 0.25rlh;
}

.top button {
  height: calc(var(--key-height) * 0.5);
  justify-self: center;
  position: relative;
  z-index: 1;
}

.black button {
  background-color: black;
  border-color: light-dark(white, #999);
  outline-color: light-dark(white, #999);
  color: white;
}

@media (prefers-color-scheme: light) {
  .black button {
    outline: none;
    border-width: 0 0.5px;
    border-top: 1px solid black;
  }
}

/* .white + .white + .black button,
.white:first-child + .black button,
.black:first-child button {
  border-bottom-left-radius: 0.25rlh;
}

.black:has(+ .white + .white) button,
.black:has(+ .white:last-child) button,
.black:last-child button {
  border-bottom-right-radius: 0.25rlh;
} */

.key button:hover {
  filter: invert(5.6%);
}

.key button.active {
  filter: invert(33.333%);
}

.key button * {
  pointer-events: none;
}

.key-0 {
}
.key-1 {
}
.key-2 {
}
.key-3 {
}
.key-4 {
}
.key-5 {
}
.key-6 {
}
.key-7 {
}

h1 {
  font-size: 195%;
  line-height: 2rlh;
  font-weight: 900;
}

h2 {
  font-size: 162%;
  line-height: 1.5rlh;
  font-weight: 600;
}

p {
  max-width: 33rlh;
}
