/* Box-model */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Resets */
* {
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  border-color: currentcolor;
}

/* Conveniences */
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-synthesis: none;
  font-size: 100%;
  line-height: 1.25;
  font-family: system-ui;
  overflow-wrap: break-word;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

/* Selective un-resets */
b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, monospace;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img,
picture,
svg,
canvas {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Bugs from https://github.com/sindresorhus/modern-normalize */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}
